.header-asap_font
    color: #1d1d1d
    font-size: 11px
    line-height: 13px
    font-weight: 500
    font-family: Roboto 
.header-register_font
    color: #fff
    font-size: 11px
    line-height: 13px
    font-weight: 500
    font-family: Roboto 