@import variables
@media(min-width: 768px)
    header
        min-width: $max-width-medium
    .header_content
        width: $width-medium
        justify-content: unset
        &_button-asap
            display: block
        &_button-location
            display: block
    .main-wrapper
        min-width: $max-width-medium
    .main
        width: $width-medium
    .wide-underscore
        width: $width-medium